@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.nav_link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #526d82;
  transition: width 0.3s;
}
.nav_link:hover::after {
  width: 100%;
}

.nav_link_active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #526d82;
  transition: width 0.3s;
}
.title{
  font-family: 'Lilita One', cursive;
}
